# Population and census

In [1]:
import pandas as pd

In [15]:
popu = pd.read_excel("DATA/dist_barr_pobl.xls")
popu.head(10)

  Unnamed: 0   Unnamed: 1 Unnamed: 2 Población por distrito y barrio
0    Fecha:    01-11-2021        NaN                             NaN
1        NaN          NaN        NaN                             NaN
2        NaN          NaN        NaN                           Total
3   Distrito       Barrio       Edad                           Total
4     CENTRO      PALACIO      Total                           23720
5     CENTRO  EMBAJADORES      Total                           47365
6     CENTRO       CORTES      Total                           10997
7     CENTRO     JUSTICIA      Total                           18304
8     CENTRO  UNIVERSIDAD      Total                           33305
9     CENTRO          SOL      Total                            8268

In [16]:
popu.drop(range(135,139),inplace=True)
popu.drop(range(0,4),inplace=True)
popu=popu.reset_index()
popu = popu.drop(columns=["Unnamed: 2","index"])
popu.columns = ["Distrito","Barrio","Población"]

In [17]:
codigos=['011',
 '012',
 '013',
 '014',
 '015',
 '016',
 '021',
 '022',
 '023',
 '024',
 '025',
 '026',
 '027',
 '031',
 '032',
 '033',
 '034',
 '035',
 '036',
 '041',
 '042',
 '043',
 '044',
 '045',
 '046',
 '051',
 '052',
 '053',
 '054',
 '055',
 '056',
 '061',
 '062',
 '063',
 '064',
 '065',
 '066',
 '071',
 '072',
 '073',
 '074',
 '075',
 '076',
 '081',
 '082',
 '083',
 '084',
 '085',
 '086',
 '087',
 '088',
 '091',
 '092',
 '093',
 '094',
 '095',
 '096',
 '097',
 '101',
 '102',
 '103',
 '104',
 '105',
 '106',
 '107',
 '111',
 '112',
 '113',
 '114',
 '115',
 '116',
 '117',
 '121',
 '122',
 '123',
 '124',
 '125',
 '126',
 '127',
 '131',
 '132',
 '133',
 '134',
 '135',
 '136',
 '141',
 '142',
 '143',
 '144',
 '145',
 '146',
 '151',
 '152',
 '153',
 '154',
 '155',
 '156',
 '157',
 '158',
 '159',
 '161',
 '162',
 '163',
 '164',
 '165',
 '166',
 '171',
 '172',
 '173',
 '174',
 '175',
 '181',
 '182',
 '183',
 '191',
 '192',
 '193',
 '194',
 '201',
 '202',
 '203',
 '204',
 '205',
 '206',
 '207',
 '208',
 '211',
 '212',
 '213',
 '214',
 '215']

In [18]:
popu["Código"]=codigos

In [19]:
popu

    Distrito            Barrio Población Código
0     CENTRO           PALACIO     23720    011
1     CENTRO       EMBAJADORES     47365    012
2     CENTRO            CORTES     10997    013
3     CENTRO          JUSTICIA     18304    014
4     CENTRO       UNIVERSIDAD     33305    015
..       ...               ...       ...    ...
126  BARAJAS  ALAMEDA DE OSUNA     19704    211
127  BARAJAS        AEROPUERTO      1884    212
128  BARAJAS   CASCO H.BARAJAS      7405    213
129  BARAJAS             TIMON     13562    214
130  BARAJAS        CORRALEJOS      7688    215

[131 rows x 4 columns]

In [20]:
popu.to_csv("DATA/dist_barr_pobl.csv", index=False)

# Censo electoral

In [22]:
elecc = pd.read_excel("DATA/Elecciones2021.xls")

In [23]:
elecc=elecc[["Unnamed: 0", "Unnamed: 1", "Unnamed: 2", "Unnamed: 3", "Unnamed: 4"]]

In [24]:
elecc.columns=["Distrito", "Barrio", "Sección", "Mesa", "Censo"]

In [25]:
elecc.drop(range(3398,3401),inplace=True)
elecc.drop(range(0,11),inplace=True)

In [26]:
elecc

     Distrito Barrio Sección Mesa Censo
11          1     11       1    U   880
12          1     11       2    U   640
13          1     11       3    A   633
14          1     11       3    B   539
15          1     11       4    U   975
...       ...    ...     ...  ...   ...
3393       21    214      31    B  1006
3394       21    215      32    A   586
3395       21    215      32    B   630
3396       21    214      33    A   791
3397       21    214      33    B   866

[3387 rows x 5 columns]

In [27]:
elecc.Censo.sum()

2366031

In [28]:
elecc.Censo.mean()

698.5624446412754

In [29]:
elecc.to_csv("DATA/censo_por_mesa.csv", index=False)